/*element/tag based selection*/

/* h1{
    background-color: gray;
}
h2{
    background-color: blue;
} */

/* id based selection */

/* 
#first{
    background-color: aquamarine;
} */

/* class based selection */

/* .third{
    background-color:aqua ;
} */

/* group based selection */

/* h1,.third,#first{
    background-color: pink;
} */
