*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    
    height: 100vh;
    gap: 10px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    background-color: blue;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    from{
        transform: rotateX(0deg) translate(200px) rotate(0deg);
    }   
    to{
        transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}