h1{
    text-align: center;
    bottom: 20px;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}
.box{
    height: 400px;
    width: 400px;
    background-color: aqua;
    padding: 50px;
    border-radius: 20px;
}
label{
    font-size: 25px;
    margin : 10px;
    font-weight: 600;
}
input{
    width: 100%;
    height: 25px;
    padding: 10px;
}
button{
    background-color: antiquewhite;
    align-items: center;
    cursor: pointer;
}