*{
    background-color: black;
}

.container{
    position: relative;
    width: 700px;
}
.box{
    position: absolute;
    height: 200px;
    width: 200px;
    padding:10px;
    border-radius: 50%;
    background-color: orange;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}
@keyframes moving{
    0%{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
    25%{
        background-color: purple;
        top: 10px;
        left: 500px;
    }
    50%{
        background-color: brown;
        top:500px;
        left:500px;
    }
    75%{
        background-color: greenyellow;
        top: 500px;
        left:10px;
    }
    100%{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
}