h1{
    background-color: orange;
    height: 300px;
    width: 300px;

    /* border-width: 10px;
    border-style: solid;
    border-color: black; */

    /* border: 10px solid black; */
    /* padding: 10px 20px 30px 40px; */
    padding: 10px 20px  ;/*top-bottom left-right*/
    margin : 30px;

    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    border-radius: 20px;

}

h2{
    background-color: pink;
    border: 2px solid black;
    padding :10px;
}

p{
    background-color: aqua;
    padding: 20px;
    border : 5px solid blue;
    margin: 5px;
} 