*{
    margin: 0px;
    padding: 0px;
}



h2{
    background-color: orange;
    position: relative;
    left:100px;
    top:200px;

}

h3{
    background-color: aqua;
    position: fixed;
    top: 40px;
    left:50px;
}

h4{
    background-color: brown;
    position: sticky;
    top:10px;
}

p{
    background-color: blueviolet;
    position:absolute;
    top:100px;
}